<div class="container">
    <div class="starter-template">
        <h1>BookMe</h1>
        <p class="lead">Przeczytałeś daj poczytać innym.</p>
        <row>
            <a class="btn btn-lg btn-primary" href="#/register" role="button">Zarejestruj się!</a>
            <a class="btn btn-lg btn-primary" href="#/login" role="button">Zaloguj się</a>
        </row>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Dziel się wiedzą.</h2>
            <p>Pokaż że jesteś bystry</p>
        </div>
        <div class="col-md-4">
            <h2>Podziel się Książkami</h2>
            <p>Masz książkę, nie chowaj jej w szafie.</p>
        </div>
        <div class="col-md-4">
            <h2>Znajdź Książkę</h2>
            <p>Przeszukaj zbiór i znajdź potrzebną Ci książkę.</p>
        </div>
    </div>
</div>