<div class="container">
    <div class="row">
<div class="col-sm-12">
<div ng-repeat="alert in vm.alerts">
    <div class="alert alert-danger text-center">{{ alert.msg }}
        <div class="text-center">
        <div class="btn2 btn-group">
        <button type="button" class="btn btn-success center-block" ng-click="vm.autofill()">Uzupełnij</button>
        <button type="button" class="btn btn-danger center-block" ng-click="vm.clear()">Wyczyść</button>
            </div>
        </div>
    </div>
  </div>
</div>
        <div class="container">
            <div class="row">
        <div class="col-sm-12">
            <h4>Dodaj Książkę:</h4>
            <form ng-submit="vm.addOffer()" class="form-inline books-form" role="form">
                <div class="form-group">
                    <input ng-model="vm.newOffer.author" type="text" class="form-control"
                           placeholder="Imię i nazwisko autora" required>
                </div>
                <div class="form-group">
                    <input ng-model="vm.newOffer.title" type="text" class="form-control" placeholder="Tytuł" required>
                </div>
                <div class="form-group">
                    <input ng-model="vm.newOffer.isbn" type="text" class="form-control" placeholder="ISBN" required>
                </div>
                <div class="form-group">
                    <input ng-model="vm.newOffer.publisher" type="text" class="form-control" placeholder="Wydawnictwo"
                           required>
                </div>
                <div class="form-group">
                    <input ng-model="vm.newOffer.genre" type="text" class="form-control" placeholder="Gatunek">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </div>
                <!--</div>-->
            </form>
        </div>
    </div>
</div>
    </div>
</div>
