<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>

                        <input type="text" class="form-control"
                               placeholder="Wyszukaj tytuł, autora, wydawnictwo, ISBN lub gatunek"
                               ng-model="searchTitle">

                    </div>
                </div>
            </form>


            <h4>Twoje książki:</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        <a href="#/userbookslist" ng-click="sortType = 'author.last_name'; sortReverse = !sortReverse">
                            Autor
                            <span ng-show="sortType == 'author.last_name' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="sortType == 'author.last_name' && !sortReverse"
                                  class="fa fa-caret-down"></span>

                        </a>
                    </th>
                    <th>
                        <a href="#/userbookslist" ng-click="sortType = 'title'; sortReverse = !sortReverse">
                            Tytuł
                            <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>

                        </a>
                    </th>
                    <th>
                        <a href="#/userbookslist" ng-click="sortType = 'isbn'; sortReverse = !sortReverse">
                            ISBN
                            <span ng-show="sortType == 'isbn' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="sortType == 'isbn' && !sortReverse" class="fa fa-caret-down"></span>

                        </a>
                    </th>
                    <th>
                        <a href="#/userbookslist" ng-click="sortType = 'publisher.name'; sortReverse = !sortReverse">
                            Wydawnictwo
                            <span ng-show="sortType == 'publisher.name' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="sortType == 'publisher.name' && !sortReverse"
                                  class="fa fa-caret-down"></span>

                        </a>
                    </th>
                    <th>
                        <a href="#/userbookslist" ng-click="sortType = 'genre.name'; sortReverse = !sortReverse">
                            Gatunek
                            <span ng-show="sortType == 'genre.name' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="sortType == 'genre.name' && !sortReverse" class="fa fa-caret-down"></span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="offer in vm.offers| orderBy:sortType:sortReverse | filter:searchTitle">
                    <td>{{ offer.book.author.name }}</td>
                    <td>{{ offer.book.title }}</td>
                    <td>{{ offer.book.isbn }}</td>
                    <td>{{ offer.book.publisher.name }}</td>
                    <td>{{ offer.book.genre.name }}</td>
                    <td>
                        <button ng-click="vm.toggleOffer(offer)" class="btn btn-success">
                            {{ offer.status == 'unbooked' ? 'Oznacz jako wypożyczoną' : 'Oznacz jako dostępną'}}
                        </button>
                        <button ng-click="vm.deleteOffer(offer)" class="btn btn-danger btn-sm pull-right"><span
                                class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>