<form name="authForm" class="form-signin" novalidate>

    <h2 class="form-signin-heading" ng-bind="vm.formTitle"></h2>

    <div ng-show="vm.error" ng-repeat="err in vm.error">
        <p class="text-danger" ng-bind="err"></p>
    </div>

    <!--Optional additional inputs-->
    <ng-transclude></ng-transclude>

    <!-- Email input -->
    <input type="email" ng-model="vm.user.email"
           ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" name="email"
           placeholder="Email address" required="" autofocus class="form-control"/>

    <!-- Email error -->
    <div ng-show="authForm.$submitted">
        <p ng-show="authForm.email.$error.required" class="text-danger">Email required</p>
        <p ng-show="authForm.email.$error.email" class="text-danger">Wpisz poprawny e-mail.</p>
    </div>

    <!-- Password input -->
    <input type="password" ng-model="vm.user.password" name="password" placeholder="password" required=""
           class="form-control"/>

    <!-- Password error -->
    <div ng-show="authForm.$submitted">
        <p ng-show="authForm.password.$error.required" class="text-danger">Wpisz Hasło.</p>
        <p ng-show='vm.user.password.length < 8' class="text-danger">Hasło jest za krótkie (min. 8 znaków)</p>
    </div>

    <input type="submit" ng-click="authForm.$valid && vm.submitAction({user: vm.user})" ng-value="vm.formTitle"
           class="btn btn-lg btn-primary btn-block"/>
    <div ng-if='vm.command=="login"'>
        <a href="#/register">...albo zarejestruj się...</a>
    </div>
    <div ng-if='vm.command=="register"'>
        <a href="#/login">...albo zaloguj się...</a>
    </div>
</form>