<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div ng-repeat='alert in vm.messageAlerts'>
              <div class="alert alert-success">{{alert.msg}}</div>
            </div>
            <div class="table-responsive">
                <table class="table table-hower">
                    <thead>
                    <!--<th>Wypożyczający</th>-->
                    <th>E-mail kontaktowy</th>
                    <!--<th>Lokalizacja</th>-->
                    <th>Stan wypożyczenia</th>
                    <th>Kontakt</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="offer in vm.offers">
                        <!--<td>{{ offer.user.first_name }} {{ offer.user.last_name }}</td>-->
                        <td>{{ offer.user.email }}</td>
                        <!--<td>{{ offer.user.city }}</td>-->
                        <td>
                            <div class="text-{{ offer.status == 'booked' ? 'danger' : 'success' }}">
                                {{ offer.status == 'booked' ? 'WYPOŻYCZONA' : 'DOSTĘPNA' }}
                            </div>
                        </td>
                        <td>
                          <button class="btn btn-primary" data-toggle="modal"
                                  data-target=".message-modal"
                                  data-receiver-email="{{ offer.user.email }}"
                                  data-receiver-id="{{ offer.user.id }}"
                                  data-book-title="{{ vm.book.title }}">
                            Wiadomość
                          </button>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade message-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Wyślij wiadomość do: <span class='message-modal-receiver-email'></span></h4>
      </div>
      <div class="modal-body">
        <div ng-repeat='alert in vm.modalAlerts'>
          <div class="alert alert-danger">{{alert.msg}}</div>
        </div>
        <form ng-submit="vm.sendMessage()" role="form">
          <input ng-model="vm.newMessage.receiver_id" class="message-modal-receiver-id" type="text"
                  style="display: none"/>
          <div class="form-group">
            <label for="subject">Temat</label>
            <input ng-model="vm.newMessage.subject" type="text" class="form-control message-modal-subject">
          </div>
          <div class="form-group">
            <label for="message">Treść</label>
            <textarea ng-model="vm.newMessage.message" class="form-control"/>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary">Dodaj</button>
              <button type="reset" class="btn btn-primary">Wyczyść</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
