<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <br>
            <div class="panel panel-default">
                <!--<p class="panel-body">-->
                <h2><span class="label label-info center-block">"{{ vm.book.title }}"</span></h2>
                <h2>{{ vm.book.author.name }}</h2>
                <h>wyd. {{ vm.book.publisher.name }}(ISBN: {{ vm.book.isbn }})</h>
            </div>
        </div>
        <br>
        <gz-offers-table offers="vm.book.offers" book="vm.book"></gz-offers-table>
    </div>
</div>
</div>
