<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">BookMe</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="#/list">Lista Książek</a></li>
                        <li ng-if="vm.isLoggedIn()"><a href="#/userbookslist">Dodaj Książkę</a></li>
                        <li ng-if="!vm.isLoggedIn()"><a href="#/login">Dodaj Książkę</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#/login" ng-hide="vm.isLoggedIn()">Log in</a></li>
                        <li><a href="" ng-click="vm.logout()" ng-show="vm.isLoggedIn()">Log out <b style="color:red;">{{vm.isLoggedIn().uid}}</b></a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
</nav>